
	<div class="nav navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<div class="span4 offset8">
					<h1 style="color: white; ">INTERNATIONAL<br> CODE ACADEMY</h1>
					<!-- <h1 style="color: white; ">International<br> Code Academy</h1> -->
				</div>
			</div>
		</div>
</div>
<div id="page2">
	<div class="container">
		<div class="row">
			<div class="span6">
				<h2><i class="icon-fighter-jet"></i> <i>Learn fast</i>
			</div>
			<div class="span6">
				<br><br><br>
				
			</div>
		</div>
		<div class="row">
			<br><br><br>
			<div class="span3">
				<h3>Choose your <br>specialty</h3>
			</div>
			
			<div class="span3">
				<div class="box">
					<i class="icon-magic"></i> <i class="icon-code"></i> <br>Ruby on Rails<br><small>Be a web app developer</small><br><a href="#" class="btn">Details</a>
				</div>
			</div>

			<!-- <div class="span1">
				<h3><center><br><i class="icon-plus"></i><br>OR</h3>
			</div> -->
			<div class="span3">
				<div class="box ">
					<i class="icon-tablet"></i> <i class="icon-mobile-phone"></i><br>App Development<br><small>Code for devices</small><br><a href="#" class="btn">Details</a>
				</div>
			</div>
			<!-- <div class="span1">
				<h3><center><br><i class="icon-plus"></i><br>OR</h3>
			</div> -->
			<div class="span3">
				<div class="box ">
					<i class="icon-money"></i> <i class="icon-cogs"></i> <br>Startup Buidling<br><small>Build a tech startup</small><br><a href="#" class="btn">Details</a>
				</div>
			</div>
	</div>
	<div class="row">
			<br><br><br>
			<div class="span3">
				<h3>Choose your <br>delivery method</h3>
			</div>
			<div class="span3">
				<div class="box">
					<h3><center><i class="icon-male" style="color: #ddd; "></i> <i class="icon-exchange" style="color: #ddd; "></i> <i class="icon-female"></i><br>Face to Face<br></h3>
				</div>
			</div>
			<!-- <div class="span1">
				<h3><center><br>OR</h3>
			</div> -->
			<div class="span3">
				<div class="box ">
					<h3><center><i class="icon-desktop" style="color: #ddd; "></i>  <i class="icon-exchange" style="color: #ddd; "></i> <i class="icon-female"></i><br>Online</h3>
				</div>
			</div>
			<!-- <div class="span1">
				<h3><center><br>OR</h3>
			</div> -->
			<div class="span3">
				<div class="box ">
					<h3><center><i class="icon-desktop" style="color: #ddd; "></i>  <i class="icon-exchange" style="color: #ddd; "></i> <i class="icon-female"></i>  <i class="icon-exchange" style="color: #ddd; "></i> <i class="icon-male" style="color: #ddd; "></i><br>Blended</h3>
				</div>
			</div>
	</div>

	</div>
</div>

<div id="page3">
	<div class="container">
		<h3 style="color: white;">Empowering the citizens of the world to embrace their technological future</h3>
	</div>
</div>