
	<div class="nav navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<div class="span4 offset8">
					<h1 style="color: white; ">INTERNATIONAL<br> CODE ACADEMY</h1>
					<!-- <h1 style="color: white; ">International<br> Code Academy</h1> -->
				</div>
			</div>
		</div>
</div>
<div id="page2">
	<div class="container">
		<div class="row">
			<div class="span6">
				<h2 style="color: white;"><i>Learn fast. Have fun.</i> 
			</div>
			<div class="span6">
				<br><br><br>
				
			</div>
		</div>
	</div>
</div>

<div id="page3">
	<div class="container">
		<h3 style="color: white;">Empowering the citizens of the world to embrace their technological future</h3>
	</div>
</div>